#nav{
	color: #333;
}

#nav a{
	text-decoration:none;
	color: #333;
}

ul.treelist .treelist-control, ol.treelist .treelist-control {
	position:relative;
	display:inline-block;
	margin-left:-1.75em;
	cursor:pointer;
	text-decoration:none;
}


ul.treelist li{
	list-style-image:none;
	list-style-type:none;
	margin-left:0.8em;
	padding-top: 0.6em;
}

.treelist li.active > a {
    color: #4289bf;
    font-weight: 700;
}

.treelist-control {
	cursor:pointer;
	position:relative;
	padding: 0 0.5em;
	margin-left:-1em;
	width: 0.639em;
}

.treelist-control:hover {
	background-color:transparent;
    text-decoration: none !important;
}

a.treelist-title{
	display:inline-block;
}

.treelist-control-title {
	cursor:pointer;
	display: inline-block;
}
